.page-users-list
  -User.where(['id <> ?', current_user.id]).limit(10).each do |user|
    .user
      %span.name=user.name
      %a.send-message{:href=>"/short_messages/new?receiver_id=#{user.id}"} 发短消息
      

%ul.page-message-exchanged-users
  -@messages.each do |message|
    :ruby
      created_at = message.created_at.localtime
      content = message.content
      
      i_am_sender = current_user == message.sender
      i_am_receiver = current_user == message.receiver
      
      if i_am_sender
        another_user = message.receiver
        klass = 'to' 
      elsif i_am_receiver
        another_user = message.sender
        klass = 'from'
      end
      
      exange_url = "/short_messages/exchange?receiver_id=#{another_user.id}"
  
    %li.message
      .ct
        -if i_am_sender
          %span.user 发送给 #{message.receiver.name} :
        -elsif i_am_receiver
          %span.user 来自 #{message.sender.name} :
          
        %span.text=content
        %span.at (#{created_at})
        
      .ops
        =link_to "查看", exange_url